aside {
    width: 33.333%;
    background-color: #adadad;
    border-right: 3px solid black;
}

/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3.6rem 0;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 12rem;
    background-color: #32b2b0;
    border: 2px solid #035858;
    border-radius: 20px;
    font-weight: 650;
    font-size: 0.95rem;
    color: rgb(20, 20, 20);
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

button:hover,
button:active {
    background-color: #2fd5d2;
    border: 2px solid #035858;
}