main {
    background-color: rgb(44, 55, 71);
    width: 66.666%;
    
}

h1 {
    text-align: center;
    margin: 0.8rem;
    color: rgb(10, 10, 10);
}

/* TASKS AREA */
.my-tasks {
    background-color: rgb(238, 245, 243);
    height: 30rem;
    width: 32rem;
    margin-left: 0.7rem;
    margin-top: 1rem;
}

.my-tasks ul {
   padding: 1rem 2rem;
   list-style-type: circle;
}

.my-tasks input {
    width: 28rem;
    padding: 0.3rem;
    font-size: 18px;
    outline: none;
    margin-bottom: 1rem;
}

/* SCROLLBAR */
.scrollbar {
   overflow: scroll;
   height: 30rem;
   border: 1.5px solid black;
}