main {
    background-color: #818181;
    width: 66.666%;
    
}

h1 {
    text-align: center;
    margin: 0.8rem;
    color: rgb(20, 20, 20);
}

/* TASKS AREA */
.my-tasks {
    background-color: rgb(238, 245, 243);
    height: 30rem;
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

#one-to-do #one-check {  
    margin: 2rem 1.5rem 1rem;
    outline: none;
    height: 1rem;
    width: 1rem;
}

#one-to-do #one-new-task {
    width: 25rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 20px;
    outline: none;
}

/* SCROLLBAR */
.scrollbar {
   overflow-y: scroll;
   height: 30rem;
   border: 1.5px solid black;
}

